@font-face {
    font-family: 'apollo';
    src: url(fonts/apollo/APOLLO.otf);
    font-weight: normal;
}
@font-face {
    font-family: 'neuton';
    src: url(fonts/neuton/Neuton-Regular.ttf);
    font-weight: normal;
}
:root {
    --black: #000000;
    --grey: #393E46;
    --teal: #00ADB5;
    --white: #EEEEEE;
    --red: #FF0000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
}
html{
    height: 100vh;
    overflow: hidden;
    scroll-behavior: smooth;
}
body{
    font-family: 'neuton';
    width: 100vw;
    height: 100vh;
    color: var(--white);
    background: var(--black);
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: scroll;
}
span{
    color: var(--teal);
}
header{
    font-family: 'apollo';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1% 3%;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 3vw;
    color: var(--teal);
    font-weight: 1000;
    cursor: pointer;
    transition: 0.5s ease;
}
.logo:hover{
    transform: scale(1.1);
}
nav a{
    font-size: 1.85vw;
    color: var(--white);
    margin-left: 4rem;
    transition: 0.3s ease;
    border-bottom: 13px solid transparent;
}
nav a:hover{
    color: var(--teal);
    border-bottom: 4px solid var(--teal);
}
section{
    width: 100%;
    min-height: 100vh;
    position: relative;
    transform-style: preserve-3d;
}
.home::before{
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: url("images/nebula1.png") top center;
    background-size: cover;
    background-attachment: fixed;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
}
.home{
    position: relative;
    padding: 3vw 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    .home-content{
        font-family: 'apollo';
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
        color: var(--white);
        text-shadow: 2px 2px 5px rgba(0, 0, 0, .5), 5px 5px 70px rgba(0, 0, 0, 1);
        text-align: left;
        z-index: 1;
        h1{
            font-size: 5vw;
            font-weight: 600;
            line-height: 1.3;
        }
    }
}

.fade{
    position: absolute;
    bottom: 0vh;
    width: 100vw;
    padding-top: 15vh;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1));
    z-index: 2;
}
.skills{
    background: var(--black);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-top: 10vh;
    overflow: hidden;
    z-index: 0;

    .languages{
        margin: 7vh 0 7vh 0;
        display: flex;
        justify-content: space-around;

        .language-button{
            font-size: 2rem;
            height: 0;
            padding: 3vh 3vh 3vh 3vh;
            margin: 0 2vw 0 2vw;
            cursor: pointer;
            display: flex;
            align-items: center;
            transition: 0.1s ease-in;
            border: 5px solid var(--grey);
            border-radius: 30px;

            p{
                padding-left: .4vw;
            }

            a{
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                display: block;
            }

            img{
                height: 3rem;
                width: auto;
            }
        }

        .language-button:hover{
            transform: scale(1.05);
            border: 5px solid #505762;
        }
    }

    .projects{
        
    }

    .topics{
        font-size: 1.55rem;
        font-weight: 150;
        width: 80vw;
        margin: 7vh 0 3vh 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        a{
            color: var(--white);
            padding-bottom: .25vh;
            border-bottom: 5px solid var(--grey);
        }

        a:hover{
            color: var(--teal);
        }
    }
}

/*
@media(max-width:830px){
    nav{
        position:absolute;
        top: 100%;
        right: 0;
        width: 40%;
        border-left: 3px solid var(--teal);
        border-bottom: 3px solid var(--teal);
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem rgba(0, 0, 0, 0, 1);
    }
    nav.active{
        display: block;
    }

    nav.a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a :hover,
    nav a :active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid var(--teal);
    }
}*/